.CardsContainer{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin: 2vw;
    justify-items: stretch;
    
}


.cointainerIzquierda{
    display: inline-block;
    float: left;
    text-align: center;
    border: #000000 1px solid;
    
    
}


.ContainerLeft{
        width: 15vw;
        height: 100vh;
        background-color: bisque;
}


