.containerActivities{
    background: url('https://images4.alphacoders.com/758/thumb-1920-75886.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 130vh;
    width: 100vw;
    

}

@media (max-width: 858px) {

    section{
        background: url('https://images4.alphacoders.com/758/thumb-1920-75886.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        height: 500vh;
        width: 100vw;
        
    
    }

}