.containerActivities{
    background: url('https://images4.alphacoders.com/758/thumb-1920-75886.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    

}